name: Building an Artifact

on:
  push:
    branches: [master, staging]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    env:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      IMAGE_NAME: django-backend
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t $DOCKER_HUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG .

      - name: Save Docker image as artifact
        run: |
          docker save $DOCKER_HUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG -o django-backend-${IMAGE_TAG}.tar
      - name: Upload Docker artifact
        uses: actions/upload-artifact@v3
        with:
          name: django-backend-image
          path: django-backend-${IMAGE_TAG}.tar

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image
        run: docker push $DOCKER_HUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG
